.track {
  background-color: black;
  color: #00A547;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}

h3 {
  font-family: 'Oswald', sans-serif;
  margin: 0.2rem;
  letter-spacing: 0.05rem;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0.2rem;
}

.artist {
  font-size: 1.2rem;
  font-weight: 700;
}

.album {
  font-style: italic;
}